<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% for i in cohort %}
    <title>{{i.title}} | SmartEdu</title>
    {%endfor%}
  </head>

  <style>
 .card-img-top{
      width: 75px;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    footer {
      /*position: fixed;*/
      padding: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: black;
      color: white;
      text-align: center;
    }

  </style>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="box-shadow: 2px 1px 5px black;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="https://serving.photos.photobox.com/7752743339407afdd395d04c96c82b79fac6b12f3b51d0e940c72c0535ca9b68dec70e1a.jpg" alt="" width="50px" height="50px" style=" border-radius: 50%;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{HTTP_HOST}}/dashboard" style="font-weight: bold;">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Assigned Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
            </ul>
            <span class="navbar-text">
                
                    <a class="btn btn-danger nav-link text-white" href=../accounts/logout>Logout</a>

            </span>
          </div>
        </div>
      </nav>



      <div class="container-fluid my-3">
        <div class="row">
            <div class="col-2 text-center" style="border: 2px solid white; font-style: italic;"><br>
                <h3>SmartEdu</h3>
                <!--< {{ room2.first_name }}
                {{ room2.email }}
                {% for i in room %}

               h6>{{i.email}}</h6>

                {% endfor %}

                <h5>{{room}}</h5> !-->
                <p>Faculty: <span style="color: green; font-weight: bold;">{{user.username}}</span></p>
                <br><hr><br>
                
                <a class="btn btn-secondary container-fluid py-2 my-3 active" href="">Home</a>

                <a class="btn btn-secondary container-fluid py-2 my-3" href="">Quick Assignment</a>

                <a class="btn btn-secondary container-fluid py-2 my-3" href="">Smart Exam Hall</a>

                <a class="btn btn-secondary container-fluid py-2 my-3" href="">Account</a>

            </div>
            <div class="col-10 px-5" style="border: 2px solid white; border-left: 2px solid grey; height: auto;"> <br>
                <!-- start -->


                <ul class="nav justify-content-center py-2" style="box-shadow: 1px 1px 5px grey;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Timeline</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../assign/{{cohortid}}">Assign Student</a>
                  </li>
                  <li class="nav-item">
                    {% for i in cohort %}
                        <a class="nav-link" href="{{HTTP_HOST}}/create/{{i.id}}">
                          Create SubCohort </a>
                        {% endfor %}
                  </li>
                  <li class="nav-item">
                    {% for i in cohort %}
                        <a class="nav-link" href="{{HTTP_HOST}}/students/{{i.id}}">
                          Students </a>
                        {% endfor %}
                  </li>
                  
                </ul>
                <br><br>
                
                
               
                {% for i in cohort %}

                <span class="aligncenter" style="font-size: 20px;"><strong>Title:</strong> {{i.title}}</span> <br>
                <!--<span class="justify-content-end" style="font-size: 20px; text-align: right;">Created by: {{i.email_id}}</span><br>-->
                <hr>
                <h5 style="font-weight: bold;">Sub-Cohorts of {{i.title}}:</h5>
                {% endfor %}

                
                {% load columns %}
                <br>
                <div class="mx-5" style="background-color:white; box-shadow: 5px 5spx 20px black;">
                    
                  <div class="row">
                    {% for col in subcohort|columns:4 %}

                        <div class="col-md-3">
                          
                            {% for item in col %}
                            <a href="../cohort/{{item.cohort_id.id}}" style="text-decoration: none; color: black">
                                <div class="item" >
                                  
                                    <div class="card" style="width: 12rem; box-shadow: 10px 10px 20px  grey;" >
                                      <img src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Books-2-icon.png" class="card-img-top">
                                      <a class="btn btn-warning" style="position: absolute;right: 0;" href="../delete/{{ item.cohort_id.id }}/{{pageid}}">Delete</a>
                                      <div class="card-body">
                                        <h5 class="card-title text-center"><a href="../cohort/{{item.cohort_id.id}}" style="text-decoration: none; color: black">{{item.cohort_id.title}}</a></h5>
                                      </div>
                                        
                                    </div>
                                  
                                </div>
                                <br>
                              </a>
                            {% endfor %}
                           
                        </div><!-- /col-md-4 -->
                        <br>
                    {% endfor %}
                </div><!-- /row -->
              </div>
                <hr>
                {% for i in dbuser %}

                {% if i.userrole == 'faculty' %}
                <div id="upload_section" class="p-3" style="box-shadow: 2px 2px 5px  grey;">
                  <h5>Upload Reading Meterials:</h5>
                  <form method="POST" class="post-form" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    {{ content.as_p }}  
                    
                  <input type="file" class="form-control" name="file" /><br>
                  <p style="color:red">* You can only upload pdf formats</p>
                    <button type="submit" class="btn btn-secondary">Save</button>  
                  </form>    

                </div>
                <br><hr><br>
                {%endif%}
                
                {%endfor%}
                
                
                <br>
                
                {% for i in files %}
                
                <div class="card" style="width: auto; box-shadow: 1px 1px 5px grey;">
                  <div class="card-body">
                    <h5 class="card-title">Reading Meterial: {{i.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{i.content_time}} | {{i.content_date}}</h6>
                    <a href="../pdfviewer/{{i.id}}" class="btn btn-warning card-link">View</a>
                    {% for j in dbuser %}
                    {% if j.userrole == 'faculty' %}
                    <a href="../deletefile/{{i.id}}/{{cohortid}}" class="btn btn-danger card-link">Delete</a>
                    <a href="../setquestion/{{i.id}}/{{cohortid}}" class="btn btn-success card-link">Set Question</a>
                    <a href="../results/{{i.id}}/{{cohortid}}" class="btn btn-secondary card-link">See Result</a>
                    <a href="../monitorstudent/{{i.id}}/{{cohortid}}" class="btn btn-primary card-link">Monitor Student</a>
                    {% endif %}
                    
                    {% if i.qn_published  and j.userrole != 'faculty'%}
                      
                      <a class="btn btn-danger" href="../examhall/{{i.id}}">Take Exam</a>
                    {% endif %}
                    {%endfor%}
                  </div>
                </div>
                <br>

                {% endfor %}

            <!--end-->
            </div>
        </div>

      </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
  <br><br><br>

	
</html>