{% extends "base.html" %}

{%block base%} 

<h4>Pie Chart for {{data.email}} </h4>

<div>

    <canvas id="myChart" width="200" height="200" style="width:200px"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Focused', 'Suspicious Activity'],
        datasets: [{
          label: '# of Votes',
          data: [{{good}},{{bad}}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

{%endblock%}